$color-primary-0: #556275;
$color-primary-1: #C3C8D0;
$color-primary-2: #CFD8E5;
$color-primary-3: #191F27;
$color-primary-4: #22416D;

$color-secondary-1-0: #B1977C;
$color-secondary-1-1: #FFF6ED;
$color-secondary-1-2: #FFF2E4;
$color-secondary-1-3: #3C3023;
$color-secondary-1-4: #A66829;

$color-secondary-2-0: #4E676E;
$color-secondary-2-1: #BDC8CB;
$color-secondary-2-2: #CBDDE2;
$color-secondary-2-3: #172225;
$color-secondary-2-4: #1C5767;

$color-complement-0: #B19D7C;
$color-complement-1: #FFF8ED;
$color-complement-2: #FFF5E4;
$color-complement-3: #3C3323;
$color-complement-4: #A67829;

:root {
  --color-light-background: #{$color-secondary-1-1};
  --color-light-backdrop: #{$color-secondary-1-2};
  --color-light-foreground: #{$color-secondary-1-3};
  --color-light-banner-dark: #{$color-primary-3};
  --color-light-banner-light: #{$color-primary-0};
  --color-light-banner-light-dark: #{darken($color-primary-0, 15%)};
  --color-light-banner-text: #{$color-secondary-1-0};
  --color-light-banner-text-light: #{lighten($color-secondary-1-0, 15%)};
  --color-light-link: #{lighten($color-primary-4, 10%)};

  --color-dark-background: #{$color-secondary-2-3};
  --color-dark-backdrop: #{$color-complement-3};
  --color-dark-foreground: #{$color-complement-4};
  --color-dark-banner-dark: #{$color-secondary-1-3};
  --color-dark-banner-light: #{$color-secondary-2-0};
  --color-dark-banner-light-dark: #{$color-secondary-2-0};
  --color-dark-banner-text: #{$color-complement-4};
  --color-dark-banner-text-light: #{lighten($color-complement-4, 15%)};
  --color-dark-link: #{lighten($color-primary-4, 15%)};

  @media not all and (prefers-color-scheme: dark) {
    --color-background: var(--color-light-background);
    --color-backdrop: var(--color-light-backdrop);
    --color-foreground: var(--color-light-foreground);
    --color-banner-dark: var(--color-light-banner-dark);
    --color-banner-light: var(--color-light-banner-light);
    --color-banner-light-dark: var(--color-light-banner-light-dark);
    --color-banner-text: var(--color-light-banner-text);
    --color-banner-text-light: var(--color-light-banner-text-light);
    --color-link: var(--color-light-link);
  }
  @media (prefers-color-scheme: dark) {
    --color-background: var(--color-dark-background);
    --color-backdrop: var(--color-dark-backdrop);
    --color-foreground: var(--color-dark-foreground);
    --color-banner-dark: var(--color-dark-banner-dark);
    --color-banner-light: var(--color-dark-banner-light);
    --color-banner-light-dark: var(--color-dark-banner-light-dark);
    --color-banner-text: var(--color-dark-banner-text);
    --color-banner-text-light: var(--color-dark-banner-text-light);
    --color-link: var(--color-dark-link);
  }
}
