.header {
  margin-bottom: 10px;
}
.name {
  font-size: xx-large;
  font-weight: bold;
}
.contact {
  margin-top: auto;
  margin-bottom: auto;
  font-size: smaller;
}
.address {
  margin-top: auto;
  margin-bottom: auto;
  font-style: italic;
  font-size: smaller;
}
.phone {
  font-weight: bolder;
}
