@import 'theme';

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-foreground);
  background-color: var(--color-background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app.dark-theme {
  color: var(--color-dark-foreground);
  background-color: var(--color-dark-background);
}
#app.light-theme {
  color: var(--color-light-foreground);
  background-color: var(--color-light-background);
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h6.muted {
  color: var(--color-banner-text);
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}
#app.dark-theme h6.muted {
  color: var(--color-dark-banner-text);
}
#app.light-theme h6.muted {
  color: var(--color-light-banner-text);
}

pre {
  width: 100%;
  background-color: var(--color-backdrop);
  padding: 0.5em;
  box-shadow: 0 0 4px 1px var(--color-banner-text);
  margin: 0 2em;
  color: var(--color-foreground);
}
#app.dark-theme pre {
  background-color: var(--color-dark-backdrop);
  box-shadow: 0 0 4px 1px var(--color-dark-banner-text);
  color: var(--color-dark-foreground);
}
#app.light-theme pre {
  background-color: var(--color-light-backdrop);
  box-shadow: 0 0 4px 1px var(--color-light-banner-text);
  color: var(--color-light-foreground);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  color: var(--color-link);
}
#app.dark-theme a {
  color: var(--color-dark-link);
}
#app.light-theme a {
  color: var(--color-light-link);
}

.backdrop {
  background-color: var(--color-backdrop);
}
#app.dark-theme .backdrop {
  background-color: var(--color-dark-backdrop);
}
#app.light-theme .backdrop {
  background-color: var(--color-light-backdrop);
}

.main-container {
  background-color: var(--color-background);
  box-shadow: 0 0 4px 1px var(--color-banner-text);
}
#app.dark-theme .main-container {
  background-color: var(--color-dark-background);
  box-shadow: 0 0 4px 1px var(--color-dark-banner-text);
}
#app.light-theme .main-container {
  background-color: var(--color-light-background);
  box-shadow: 0 0 4px 1px var(--color-light-banner-text);
}
