$color-primary-0: #556275;
$color-primary-1: #C3C8D0;
$color-primary-2: #CFD8E5;
$color-primary-3: #191F27;
$color-primary-4: #22416D;

$color-secondary-1-0: #B1977C;
$color-secondary-1-1: #FFF6ED;
$color-secondary-1-2: #FFF2E4;
$color-secondary-1-3: #3C3023;
$color-secondary-1-4: #A66829;

$color-secondary-2-0: #4E676E;
$color-secondary-2-1: #BDC8CB;
$color-secondary-2-2: #CBDDE2;
$color-secondary-2-3: #172225;
$color-secondary-2-4: #1C5767;

$color-complement-0: #B19D7C;
$color-complement-1: #FFF8ED;
$color-complement-2: #FFF5E4;
$color-complement-3: #3C3323;
$color-complement-4: #A67829;

$color-background: $color-secondary-1-1;
$color-backdrop: $color-secondary-1-2;
$color-foreground: $color-secondary-1-3;
$color-banner-dark: $color-primary-3;
$color-banner-light: $color-primary-0;
$color-banner-text: $color-secondary-1-0;

$color-primary:  $color-primary-4;
$color-secondary: $color-secondary-2-3;

