footer .nav-link {
  color: #b3bac7;
  padding: 0;
}
footer .nav-link:hover {
  color: #b3bac7;
  text-decoration: underline;
}
footer {
  box-shadow: 0 -1px 2px 0 #dfe3ec;
  text-align: center;
  padding: 32px;
  background-image: linear-gradient(to bottom right, #1d3057, #828894);
}
footer .logo {
  margin: 0 auto 0 auto;
  width: 2rem;
  height: 2rem;
}
