@import 'theme';

footer .nav-link {
  color: var(--color-background);
  padding: 0;
}
#app.dark-theme footer .nav-link {
  color: var(--color-dark-background);
}
#app.light-theme footer .nav-link {
  color: var(--color-light-background);
}

footer .nav-link:hover {
  color: var(--color-background);
  text-decoration: underline;
}
#app.dark-theme footer .nav-link:hover {
  color: var(--color-dark-background);
}
#app.light-theme footer .nav-link:hover {
  color: var(--color-light-background);
}

footer {
  box-shadow: 0 0 4px 1px var(--color-banner-text);
  text-align: center;
  padding: 32px;
  background-image: linear-gradient(to bottom right, var(--color-banner-dark), var(--color-banner-light));
  z-index: 1;
}
#app.dark-theme footer {
  box-shadow: 0 0 4px 1px var(--color-dark-banner-text);
  background-image: linear-gradient(to bottom right, var(--color-dark-banner-dark), var(--color-dark-banner-light));
}
#app.light-theme footer {
  box-shadow: 0 0 4px 1px var(--color-light-banner-text);
  background-image: linear-gradient(to bottom right, var(--color-light-banner-dark), var(--color-light-banner-light));
}

footer .logo {
  margin: 0 auto 0 auto;
  width: 2rem;
  height: 2rem;
}
