@import 'theme';

.navbar {
  box-shadow: 0 0 4px 1px var(--color-banner-text);
  background-image: linear-gradient(to bottom right, var(--color-banner-dark), var(--color-banner-light));
}
body.dark-theme .navbar {
  box-shadow: 0 0 4px 1px var(--color-dark-banner-text);
  background-image: linear-gradient(to bottom right, var(--color-dark-banner-dark), var(--color-dark-banner-light));
}
body.light-theme .navbar {
  box-shadow: 0 0 4px 1px var(--color-light-banner-text);
  background-image: linear-gradient(to bottom right, var(--color-light-banner-dark), var(--color-light-banner-light));
}

.navbar .router-link-exact-active {
  border-bottom: 2px solid var(--color-banner-text);
}
body.dark-theme .navbar .router-link-exact-active {
  border-bottom: 2px solid var(--color-dark-banner-text);
}
body.light-theme .navbar .router-link-exact-active {
  border-bottom: 2px solid var(--color-light-banner-text);
}

.navbar-brand {
  margin-right: 60px;
}

.navbar-nav .nav-link {
  padding: 0 0 0.5rem 0;
  box-sizing: border-box;
  margin: 0 40px 0 0;
  font-weight: 400;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--color-banner-text);
}
body.dark-theme .navbar-light .navbar-nav .nav-link {
  color: var(--color-dark-banner-text);
}
body.light-theme .navbar-light .navbar-nav .nav-link {
  color: var(--color-light-banner-text);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--color-banner-text-light);
}
body.dark-theme .navbar-light .navbar-nav .nav-link:hover {
  color: var(--color-dark-banner-text-light);
}
body.light-theme .navbar-light .navbar-nav .nav-link:hover {
  color: var(--color-light-banner-text-light);
}

.navbar-light .navbar-nav .nav-link:focus {
  color: var(--color-banner-text);
}
body.dark-theme .navbar-light .navbar-nav .nav-link:focus {
  color: var(--color-dark-banner-text);
}
body.light-theme .navbar-light .navbar-nav .nav-link:focus {
  color: var(--color-light-banner-text);
}

.navbar-light .navbar-nav .nav-item .router-link-exact-active {
  color: var(--color-banner-text);
}
body.dark-theme .navbar-light .navbar-nav .nav-item .router-link-exact-active {
  color: var(--color-dark-banner-text);
}
body.light-theme .navbar-light .navbar-nav .nav-item .router-link-exact-active {
  color: var(--color-light-banner-text);
}

.navbar-nav .btn {
  min-width: 110px;
  color: var(--color-banner-text-light);
  background-color: var(--color-banner-light-dark);
}
body.dark-theme .navbar-nav .btn {
  color: var(--color-dark-banner-text-light);
  background-color: var(--color-dark-banner-light-dark);
}
body.light-theme .navbar-nav .btn {
  color: var(--color-light-banner-text-light);
  background-color: var(--color-light-banner-light-dark);
}

.navbar-nav .btn:hover {
  color: var(--color-banner-text-light);
}
body.dark-theme .navbar-nav .btn:hover {
  color: var(--color-dark-banner-text-light);
}
body.light-theme .navbar-nav .btn:hover {
  color: var(--color-light-banner-text-light);
}

.navbar-nav .btn:focus {
  color: var(--color-banner-text);
}
body.dark-theme .navbar-nav .btn:focus {
  color: var(--color-dark-banner-text);
}
body.light-theme .navbar-nav .btn:focus {
  color: var(--color-light-banner-text);
}

.nav-user-profile {
  border-radius: 50% 50%;
  max-width: 3.785rem;
  height: auto;
  box-shadow: 0 0 4px 2px var(--color-banner-text);
}
body.dark-theme .nav-user-profile {
  box-shadow: 0 0 4px 2px var(--color-dark-banner-text);
}
body.light-theme .nav-user-profile {
  box-shadow: 0 0 4px 2px var(--color-light-banner-text);
}

.nav-item.dropdown .dropdown-toggle {
  margin: 0;
}

.nav-item.dropdown .dropdown-name {
  font-weight: 600;
}

.nav-item.dropdown .dropdown-menu {
  box-shadow: 0 0 4px 0 var(--color-banner-text);
  margin-left: -4em;
  background-color: var(--color-background);
}
body.dark-theme .nav-item.dropdown .dropdown-menu {
  box-shadow: 0 0 4px 0 var(--color-dark-banner-text);
  margin-left: -4em;
  background-color: var(--color-dark-background);
}
body.light-theme .nav-item.dropdown .dropdown-menu {
  box-shadow: 0 0 4px 0 var(--color-light-banner-text);
  margin-left: -4em;
  background-color: var(--color-light-background);
}

.nav-item.dropdown .dropdown-header {
  border-bottom: 1px solid var(--color-banner-text);
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-banner-dark);
}
body.dark-theme .nav-item.dropdown .dropdown-header {
  border-bottom: 1px solid var(--color-dark-banner-text);
  color: var(--color-dark-banner-dark);
}
body.light-theme .nav-item.dropdown .dropdown-header {
  border-bottom: 1px solid var(--color-light-banner-text);
  color: var(--color-light-banner-dark);
}

.nav-item.dropdown .dropdown-item {
  border-bottom: 1px solid var(--color-banner-text);
  padding: 0.55rem 1.5rem;
}
body.dark-theme .nav-item.dropdown .dropdown-item {
  border-bottom: 1px solid var(--color-dark-banner-text);
}
body.light-theme .nav-item.dropdown .dropdown-item {
  border-bottom: 1px solid var(--color-light-banner-text);
}

.nav-item.dropdown .dropdown-item .icon {
  margin-right: 8px;
  vertical-align: middle;
}

.nav-item.dropdown .dropdown-item:last-child {
  border-bottom: 0;
}

.nav-item.dropdown .dropdown-item:first-child:hover {
  background: inherit;
}

@media (min-width: 576px) {
  .container {
    max-width: inherit;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 767px) {
  .nav-item .nav-link {
    padding: 0.25em 0 0.25em 16px;
  }

  .nav-item .nav-link.router-link-exact-active {
    border-bottom: 0;
    border-left: 2px solid var(--color-banner-text);
    padding-left: 13px;
    vertical-align: middle;
  }
  body.dark-theme .nav-item .nav-link.router-link-exact-active {
    border-left: 2px solid var(--color-dark-banner-text);
  }
  body.light-theme .nav-item .nav-link.router-link-exact-active {
    border-left: 2px solid var(--color-light-banner-text);
  }

  .nav-item .router-link-exact-active {
    border-bottom: 0;
    border-left: 2px solid var(--color-banner-text);
    padding-left: 13px;
  }
  body.dark-theme .nav-item .router-link-exact-active {
    border-left: 2px solid var(--color-dark-banner-text);
  }
  body.light-theme .nav-item .router-link-exact-active {
    border-left: 2px solid var(--color-light-banner-text);
  }

  .navbar-nav:last-child li a {
    vertical-align: middle;
    color: var(--color-banner-text);
  }
  body.dark-theme .navbar-nav:last-child li a {
    color: var(--color-dark-banner-text);
  }
  body.light-theme .navbar-nav:last-child li a {
    color: var(--color-light-banner-text);
  }

  .navbar-light .navbar-nav .nav-item a:hover {
    color: var(--color-banner-text-light);
    text-decoration: none;
  }
  body.dark-theme .navbar-light .navbar-nav .nav-item a:hover {
    color: var(--color-dark-banner-text-light);
  }
  body.light-theme .navbar-light .navbar-nav .nav-item a:hover {
    color: var(--color-light-banner-text-light);
  }

  .navbar-brand {
    margin-left: 2.5rem;
    vertical-align: top;
  }

  .navbar-toggler {
    margin-right: 2.5rem;
  }

  .navbar-nav {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .navbar-nav:last-child {
    box-shadow: 0 -1px 2px 0 var(--color-banner-text);
    margin: 0.5em 0 0 0;
    padding: 1em 2.5rem;
  }
  body.dark-theme .navbar-nav:last-child {
    box-shadow: 0 -1px 2px 0 var(--color-dark-banner-text);
  }
  body.light-theme .navbar-nav:last-child {
    box-shadow: 0 -1px 2px 0 var(--color-light-banner-text);
  }

  .navbar-nav:last-child li .icon {
    margin-right: 1em;
    vertical-align: middle;
  }

  .navbar-nav .nav-item svg {
    color: var(--color-banner-text);
  }
  body.dark-theme .navbar-nav .nav-item svg {
    color: var(--color-dark-banner-text);
  }
  body.light-theme .navbar-nav .nav-item svg {
    color: var(--color-light-banner-text);
  }

  .navbar-nav .user-info img {
    margin-right: 1em;
  }

  .navbar-nav .user-info {
    color: var(--color-banner-text);
  }
  body.dark-theme .navbar-nav .user-info {
    color: var(--color-dark-banner-text);
  }
  body.light-theme .navbar-nav .user-info {
    color: var(--color-light-banner-text);
  }

  .navbar-nav .btn-link {
    padding: 0;
    min-width: 0;
  }
}
