.role {
  font-weight: bold;
  font-style: italic;
}
.position-info {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.experience-header {
  font-style: italic;
  font-weight: normal;
}
.experience-list {
  margin-top: 0.5em;
  margin-bottom: 0;
}

